<div class="container">

<h4>Enigma</h4>

<mat-form-field>
  <mat-label>Rotor I</mat-label>
  <mat-select [formControl]="r1" (selectionChange)="onChange($event.value,'r1')">
    <mat-option *ngFor="let f of con" [value]="f">
      {{f}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Rotor II</mat-label>
  <mat-select [formControl]="r2" (selectionChange)="onChange($event.value,'r2')" >
    <mat-option *ngFor="let f of con2" [value]="f">
      {{f}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Rotor III </mat-label>
  <mat-select [formControl]="r3" (selectionChange)="onChange($event.value,'r3')">
    <mat-option *ngFor="let f of con3" [value]="f">
      {{f}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Letra a Cifrar" [formControl]="letra" (keyup)="onKey($event)">
  </mat-form-field>
<h1>=</h1>
<mat-form-field class="example-full-width">
  <input matInput  [formControl]="respuesta"  >
</mat-form-field>
</div>
